
body {
  padding: 40px;
  background: #212121;
	font-family: "Source Sans Pro", serif;
	color: #fafafa;
	font-size: 2.8em;
	letter-spacing: 0.1em;
	font-weight: 500;
	text-align: center;
}

a {
	color: #f8c81c;
	text-decoration: none;
}

#mark {
	transform: scale(0.2, 0.2);
	-ms-transform: scale(0.2, 0.2);
	-webkit-transform: scale(0.2, 0.2);
	filter: invert(100%);
}

#header {
	padding: 80px;
}

#header p {
	text-align: left;
}

footer {
	font-size: 0.4em;
	color: #323232;
}
